<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
 
    <add name="conn" connectionString="Server=46d4011d-e22b-4ee3-a8c5-a4a200c428d0.sqlserver.sequelizer.com;Database=db46d4011de22b4ee3a8c5a4a200c428d0;User ID=cbwqmfwcopyluiws;Password=8FmRTNTT7Mikkpw2NCiGaqhfdmLsv6GyzisetUnyrhQYfQ4upgUumsRQxgMFcAwb;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>
